# LIST []

In [25]:
# List
# Lists are used to store mutiple items in a single variable.
# Lists are created using square [] brackets
list_A=['john','karan','vipul']
list_A

['john', 'karan', 'vipul']

In [26]:
#A list can contain different data types. like int,float,string,boolean
list_B=["xyz",80,"raj",40.5,True,"python"]
list_B

['xyz', 80, 'raj', 40.5, True, 'python']

In [36]:
#print list length

list_c =['john','karan','vipul','ravi','rohit']
print(len(list_c))

5

In [66]:
#type() function use to check What is the data type of a list?
list_c =['john','karan','vipul','ravi','rohit']
print(type(list_c))

<class 'list'>

In [67]:
#Return the second and third item:
list_c =['john','karan','vipul','ravi','rohit']
print(list_c[1:3])

['karan', 'vipul']

In [75]:
#Check if "ravi" is present in the list:

list_c =['john','karan','vipul','ravi','rohit']
if 'ravi' in list_c:
    print('Yes, ravi in this list')

Yes, ravi in this list

In [78]:
#To add an item to the end of the list, use the append() method.

list1=['python','java','php','sql','dbms','mongodb']
list1.append("asp.net")
list1

['python', 'java', 'php', 'sql', 'dbms', 'mongodb', 'asp.net']

In [1]:
#Insert an item as the third position:
list1=['python','java','php','sql','dbms','mongodb']
list1.insert(3,'ml')
list1

['python', 'java', 'php', 'ml', 'sql', 'dbms', 'mongodb']

In [2]:
#To append elements from another list to the current list, use the extend() method.
list1=['python','java','php']
list2=['sql','dbms','mongodb']
list1.extend(list2)
print(list1)

['python', 'java', 'php', 'sql', 'dbms', 'mongodb']

In [4]:
#The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).
list1=['python','java','php']
list2_touple=('sql','dbms')
list1.extend(list2_touple)
print(list1)

['python', 'java', 'php', 'sql', 'dbms']

In [6]:
#The remove() method removes the specified item.
list1=['python','java','php']
list1.remove('java')
print(list1)

['python', 'php']

In [10]:
#The pop() method removes the specified index.
list1=['python','java','php']
list1.pop(1)
print(list1)

['python', 'php']

In [11]:
#If you do not specify the index, the pop() method removes the last item.
list1=['python','java','php']
list1.pop()
print(list1)

['python', 'java']

In [13]:
#The del keyword also removes the specified index:
list1=['python','java','php']
del list1[0]
print(list1)

['java', 'php']

In [16]:
#delete entire list to help of del
list1=['python','java','php']
del list1

In [17]:
# The clear() method empties the list.
# The list still remains, but it has no content.
# Clear the list content:

list1=['python','java','php']
list1.clear()
print(list1)

[]

# Touple ()

In [1]:
# Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.
# But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.
# change php to rdbms 
a=('python','java','php','sql','dbms','mongodb')
b=list(a)
b[2]='rdbms'
a=tuple(b)
print(a)

('python', 'java', 'rdbms', 'sql', 'dbms', 'mongodb')

In [22]:
#Add Items into last 
#1. Convert into a list: Just like the workaround for changing a tuple, you can 
#convert it into a list, add your item(s), and convert it back into a tuple.
a=('python','java','php','sql','dbms','mongodb')
b=list(a)
b.append("machine learning")
a= tuple(b)
print(a)

('python', 'java', 'php', 'sql', 'dbms', 'mongodb', 'machine learning')

In [2]:
# 2. Add tuple to a tuple. You are allowed to add tuples to tuples, so if you want to add one item, (or many), 
# create a new tuple with the item(s), and add it to the existing tuple:

#Create a new tuple with the value "english", and add that tuple:
tuple_a=('python','java','php','sql','dbms','mongodb')
b= ("english",)
tuple_a += b
print(tuple_a)

('python', 'java', 'php', 'sql', 'dbms', 'mongodb', 'english')

In [26]:
#Remove Items
#Tuples are unchangeable, so you cannot remove items from it, 
#but you can use the same workaround as we used for changing and adding tuple items:

a=('python','java','php','sql','dbms','mongodb')
b=list(a)
b.remove("java")
a= tuple(b)
print(a)

('python', 'php', 'sql', 'dbms', 'mongodb')

In [33]:
#you can delete the tuple completely:
#The del keyword can delete the tuple completely:
a=('python','java','php','sql','dbms','mongodb')
del a
#print(a) #this will raise an error because the tuple no longer exists

# Dictionary {}

In [6]:
dic={
    "rollno":19,
    "name":"Prakash",
    "subject":"python"
    }
print(dic)

{'rollno': 19, 'name': 'Prakash', 'subject': 'python'}

In [12]:
# Dictionary items are ordered, changeable, and does not allow duplicates.

# Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

dic={
    "rollno":19,
    "name":"Prakash",
    "subject":"python"
    }
print(dic["subject"])

python

In [14]:
#Dictionaries cannot have two items with the same key:

dic={
    "rollno":19,
    "name":"Prakash",
    "subject":"python",
    "subject":"python"
    }
print(dic)

{'rollno': 19, 'name': 'Prakash', 'subject': 'python'}

In [18]:
#Add a new item to the original dictionary, and see that the keys list gets updated as well:

dic={
    "rollno":19,
    "name":"Prakash",
    "subject":"python",
    }
x=dic.keys()

print(x) #before the change

dic["city"]="mahuva"

print(x) #after the change

dict_keys(['rollno', 'name', 'subject'])
dict_keys(['rollno', 'name', 'subject', 'city'])

In [21]:
#The values() method will return a list of all the values in the dictionary.

x=dic.values()
x

dict_values([19, 'Prakash', 'python', 'mahuva'])

In [26]:
#Make a change in the original dictionary, and see that the values list gets updated as well:
#change values in dictionary 

dic={
    "rollno":19,
    "name":"Prakash",
    "subject":"python",
    }
x = dic.values()

print(x) #before the change

dic["name"] = "Prakash Gohil"

print(x) #after the change

dict_values([19, 'Prakash', 'python'])
dict_values([19, 'Prakash Gohil', 'python'])

In [29]:
#The items() method will return each item in a dictionary, as tuples in a list.

dic={
    "rollno":19,
    "name":"Prakash",
    "subject":"python",
    }
print(dic.items())

dict_items([('rollno', 19), ('name', 'Prakash'), ('subject', 'python')])

In [32]:
#Make a change in the original dictionary, and see that the items list gets updated as well:
dic={
    "rollno":18,
    "name":"Prakash",
    "subject":"python",
    }
x = dic.items()

print(x) #before the change  

dic["rollno"] = 19

print(x)#after the change

dict_items([('rollno', 18), ('name', 'Prakash'), ('subject', 'python')])
dict_items([('rollno', 19), ('name', 'Prakash'), ('subject', 'python')])

In [45]:
#Add a new item to the original dictionary, and see that the items list gets updated as well:
#Add new key and value in dictionary
#####ADD NEW ITEM######

dic={
    "rollno":18,
    "name":"Prakash",
    "subject":"python",
    }
x = dic.items()

print(x) #before the change  

dic["city"] = "mahuva"

print(x)#after the change

dict_items([('rollno', 18), ('name', 'Prakash'), ('subject', 'python')])
dict_items([('rollno', 18), ('name', 'Prakash'), ('subject', 'python'), ('city', 'mahuva')])

In [46]:
dic={
    "rollno":18,
    "name":"Prakash",
    "subject":"python",
    }
if "name" in dic:
    print("Yes, 'name' is one of the keys in the thisdict dictionary")

Yes, 'name' is one of the keys in the thisdict dictionary

In [47]:
# Change Values
# Change the "name" to prakash gohil:
dic={
    "rollno":19,
    "name":"Prakash",
    "subject":"python",
    }
dic["name"] = "prakash gohil"
dic

{'rollno': 19, 'name': 'prakash gohil', 'subject': 'python'}

In [48]:
#Update Dictionary
#Update the "subject" of the student by using the update() method:
dic={
    "rollno":19,
    "name":"Prakash",
    "subject":"python",
    }
dic.update({"subject":"machine learning"})
print(dic)

{'rollno': 19, 'name': 'Prakash', 'subject': 'machine learning'}

In [49]:
#########Removing items########
#The pop() method removes the item with the specified key name:
dic={
    "rollno":19,
    "name":"Prakash",
    "subject":"python",
    }
dic.pop("name")
print(dic)

{'rollno': 19, 'subject': 'python'}

In [51]:
#remove the last item 
#The popitem() method removes the last inserted item.
dic={
    "rollno":19,
    "name":"Prakash",
    "subject":"python",
    }
dic.popitem()
print(dic)

{'rollno': 19, 'name': 'Prakash'}

In [52]:
#The del keyword removes the item with the specified key name:

dic={
    "rollno":19,
    "name":"Prakash",
    "subject":"python",
    }
del dic["rollno"]
dic

{'name': 'Prakash', 'subject': 'python'}

In [59]:
#The del keyword can also delete the dictionary completely:
dic={
    "rollno":19,
    "name":"Prakash",
    "subject":"python",
    }
del dic
print(dic) #this will cause an error because "thisdict" no longer exists.

NameError: name 'dic' is not defined

In [62]:
#The clear() method empties the dictionary:
#only remove the all item from dictionary.

dic={
    "rollno":19,
    "name":"Prakash",
    "subject":"python",
    }
dic.clear()
print(dic)

{}

In [20]:
#write a program covert kilommeter to mile?

km=float(input("Enter value:-"))
mile=0.621371
miles = km*mile
print(miles)

Enter value:-5
3.106855

In [21]:
#write a program convert celsius to fahrenheit ?

cel=int(input("Enter value:-"))
far=(cel*9/5)+32
print(far)

Enter value:-5
41.0

In [22]:
#write program to display calendar?
import calendar

yy=2022
mm=12

print(calendar.month(yy,mm))

   December 2022
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

In [37]:
# Python code to demonstrate the working of
# calendar() function to print calendar

# importing calendar module
# for calendar operations
import calendar

# using calendar to print calendar of year
# prints calendar of 2018
print ("The calendar of year 2018 is : ")
print (calendar.calendar(2018, 2, 1, 5))

The calendar of year 2018 is :
                                 2018

      January                  February                  March
Mo Tu We Th Fr Sa Su     Mo Tu We Th Fr Sa Su     Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7               1  2  3  4               1  2  3  4
 8  9 10 11 12 13 14      5  6  7  8  9 10 11      5  6  7  8  9 10 11
15 16 17 18 19 20 21     12 13 14 15 16 17 18     12 13 14 15 16 17 18
22 23 24 25 26 27 28     19 20 21 22 23 24 25     19 20 21 22 23 24 25
29 30 31                 26 27 28                 26 27 28 29 30 31

       April                     May                      June
Mo Tu We Th Fr Sa Su     Mo Tu We Th Fr Sa Su     Mo Tu We Th Fr Sa Su
                   1         1  2  3  4  5  6                  1  2  3
 2  3  4  5  6  7  8      7  8  9 10 11 12 13      4  5  6  7  8  9 10
 9 10 11 12 13 14 15     14 15 16 17 18 19 20     11 12 13 14 15 16 17
16 17 18 19 20 21 22     21 22 23 24 25 26 27     18 19 20 21 22 23 24
23 24 25 26 27 28 29     28 29 30 31              25 26 27 28 29 30
30

        July                    August                 September
Mo Tu We Th Fr Sa Su     Mo Tu We Th Fr Sa Su     Mo Tu We Th Fr Sa Su
                   1            1  2  3  4  5                     1  2
 2  3  4  5  6  7  8      6  7  8  9 10 11 12      3  4  5  6  7  8  9
 9 10 11 12 13 14 15     13 14 15 16 17 18 19     10 11 12 13 14 15 16
16 17 18 19 20 21 22     20 21 22 23 24 25 26     17 18 19 20 21 22 23
23 24 25 26 27 28 29     27 28 29 30 31           24 25 26 27 28 29 30
30 31

      October                  November                 December
Mo Tu We Th Fr Sa Su     Mo Tu We Th Fr Sa Su     Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7               1  2  3  4                     1  2
 8  9 10 11 12 13 14      5  6  7  8  9 10 11      3  4  5  6  7  8  9
15 16 17 18 19 20 21     12 13 14 15 16 17 18     10 11 12 13 14 15 16
22 23 24 25 26 27 28     19 20 21 22 23 24 25     17 18 19 20 21 22 23
29 30 31                 26 27 28 29 30           24 25 26 27 28 29 30
                                                  31

In [63]:
#write a python program to solve quadratic equation?
#confusion in this program 

# import complex math module
import cmath

a = 1
b = 5
c = 6

# calculate the discriminant
d = (b**2) - (4*a*c)

# find two solutions
sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)

print('The solution are {0} and {1}'.format(sol1,sol2))

The solution are (-3+0j) and (-2+0j)

In [65]:
#write a python program to swap two variables without temp variable

x = 5
y = 10

x, y = y, x
print("x =", x)
print("y =", y)

x = 10
y = 5